

body{background-image: url('../Picsell_image/sunset-g052f732da_1920.jpg'); width: 100vw; height: 100vh; }


#main_name {position:relative; text-align: center; margin-top: 5vh;}
#main_name #word{ font-family:'Nanum Pen Script'; color: black; font-size: 15em; text-shadow: 5px 5px 5px rgb(90, 90, 90);}

#login_info {position:relative; text-align: center; margin-top: 3vh;}
#login_info #id{display: block; margin: 0 auto; height: 50px; width: 400px; border-radius: 10px; border-style: none;  text-align: center}
#login_info #pw{ margin-top: 2vh; margin-bottom: 5vh; height: 50px; width: 400px; border-radius: 10px; border-style: none; text-align: center;}

.btn{display: grid;}
.btn #login{width: 150px; height:auto; margin:auto;}
.btn #register{width: 200px; height:auto; margin:auto; margin-top: 2vh;}