#info_section{
    text-align: center;
}
#user_form{ 
    font-size: 2em;
    font-family: 'Ansungtangmyun-Bold';
    margin-top: 5vh;
    display: inline-block;
}
#wrap{text-align:center; background-color: white; border: 1 grey; border-radius: 10px 10px 10px 10px; width: 450px; height: 700px; margin: 5vh auto auto auto; box-shadow: 2px 5px 5px;}