@font-face {
    font-family: 'DeogonPrincess';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/DeogonPrincess.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
#info_section{
    text-align: center;
}
#wrap{
    text-align: center;
}
#user_form{ 
    font-size: 2em;
    font-family: 'Ansungtangmyun-Bold';
    margin-left: 15vw;
    margin-top: 5vh;
    display: inline-block;
}